<div class="row">
<h1>Places</h1>

<ul>
  <% for place in @places %>
   <div class="col-md-3 col-sm-6">
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  </div>
  <% end %>
</ul>


      <div class="col-sm-3 text-end">
        <a href="/places/new/" class="btn btn-success">New Place</a>
      </div>